body{
    font-family: arial;
   text-align: center;
   align-items: center;
}
h4{
    color: brown;
}
.menu{
    border: 0px;
    width: 100%;
    height: 100px;
    background-color: brown;
   
}
td{
   text-align: center;
}
a{
    color: aliceblue;
}
img{
    width: 200px;
}

t.produtos h3{
text-align: center;
border-top: 100;
}
t.produtos{
    border: 0;
    width: 100%  ;
    height: 50px;
    color: aliceblue;
   
    
}
 strong{
    color: brown;
}

 
 